---
import Layout from '../layouts/BlogPost.astro';
---

<!doctype html>
<Layout
	title="About Me"
	description='Software Developer | IBM Mainframe Analyst | Open-Source Enthusiast'
	pubDate={new Date('May 24 2026')}
>

<h2>About Me</h2>

<p>
	I'm a passionate about building software that is useful, entertaining, and/or befuddling.
	I am always seeking new opportunities and building projects that bring joy into the world, or ones that at least solve a piddling annoyance.
	I'm a proud <a href='https://fedoraproject.org/'>Linux</a> user and have been programming since middle school.
	In 2026, I graduated from <a href='https://www.vcu.edu/'>VCU</a> with a bachelor's in Computer Science/minor in Mathematics.
</p>

<h2>Career</h2>

<ul>
	<li><b>Future Role</b>: IBM Mainframe Analyst @ <a href='https://www.bankofamerica.com/'>Bank of America</a></li>
	<li><b>Interests</b>: Software Development, <a href='https://dougisdoug.itch.io/'>Game Development</a>, Mainframes, Computer History</li>
	<li><b>Currently Learning</b>: React, Socket Programming, Network Communication</li>
</ul>

<h2>Fun Facts</h2>

<ul>
	<li>I was an officer in VCU's Linux User Group</li>
	<li>I have a 1st degree blackbelt in Taekwondo</li>
	<li>I'm an avid <a href='https://www.nhl.com/capitals/'>Washington Capitals</a> fan!</li>
	<li>If I'm not playing one of the same three games I've played since birth, I enjoy reading an old fashioned book (history, classic literature, etc.</li>
</ul>

<h2>Website Source</h2>

<p>
	Naturally, this website's source code is open-source. It is written in <a href='https://astro.build/'>Astro</a> to provide an experience that could be described by
	your modern tech bro as "blazingly fast".
	You can view the source code at the <a href='https://github.com/SuperShadowPlay/trevorcorc-com'>GitHub repository</a>.
</p>

</Layout>
