---
import Layout from '../layouts/BlogPost.astro';
---

<!doctype html>
<Layout
	title="Trevor's Webspace"
	description='Full of ditritus'
	pubDate={new Date('May 24 2026')}
	updatedDate={new Date('May 26 2026')}
>

<p>
	Hello! You've landed yourself in the midst of a website-in-progress. Feel free to poke around the <a href='./blog'>blog</a>
	and my <a href='./portfolio'>project portfolio</a> as I expand them over the coming weeks.
</p>

<p>
	In the mean time, check out my <a href="./about">bio</a> and a complete list of my projects on <a href='https://github.com/SuperShadowPlay'>GitHub</a>.
	If you want to contact me, message me on <a href="https://www.linkedin.com/in/trevorcorc/">LinkedIn</a>.
</p>

</Layout>
