---
import Layout from '../layouts/BlogPost.astro';
---

<!doctype html>
<Layout
	title="Trevor's Webspace"
	description='Full of ditritus'
	pubDate={new Date('May 24 2026')}
>

<p>
Hello! You've landed yourself in the midst of a website-in-progress. Feel free to poke around. More content will be added soon; principally a showcase of my various projects (complete or otherwise) and a blog.
</p>

<p>
In the mean time, check out my <a href="./about">bio</a> and my projects on <a href='https://github.com/SuperShadowPlay'>GitHub</a>.
</p>

</Layout>
