---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Title text</h1>

			<p>Sed velit doloremque rerum minus molestiae. Nobis pariatur quam id similique officia asperiores et et. Doloremque unde architecto minus cupiditate et accusantium dolor. Libero voluptates eos praesentium perferendis dolor eveniet placeat nobis. Eos harum et libero qui ut assumenda ratione enim.</p>

			<p>With that in mind, use the <code>KleeGaming</code> command to execute.</p>
		</main>
		<Footer />
	</body>
</html>
