---
import { Icon } from 'astro-icon/components';
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Trevor Corcoran. All rights reserved.
	<div class="social-links">
		<a href="https://github.com/SuperShadowPlay" target="_blank">
			<span class="sr-only">Go to Trevor's GitHub</span>
			<Icon name="mdi:github" aria-hidden="true" width="40" height="40"/>
		</a>
		<a href="https://www.linkedin.com/in/trevorcorc/" target="_blank">
			<span class="sr-only">Go to Trevor's LinkedIn</span>
			<Icon name="mdi:linkedin" aria-hidden="true" width="40" height="40"/>
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: var(--surface);
		color: var(--accent);
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: var(--accent);
	}
	.social-links a:hover {
		color: var(--primary);
	}
</style>
