---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import site_icon from '../assets/SuperShadowP1ay-face.png';
---

<header>
	<nav>
		<div class='title'>
			<Image class="icon" src={site_icon} alt="Site icon image" fit='constrained' width="50" />
			<h2><a href="/">{SITE_TITLE}</a></h2>
		</div>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/portfolio">Portfolio</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div class="social-links">
			<a href="https://github.com/SuperShadowPlay" target="_blank">
				<span class="sr-only">Go to Trevor's GitHub</span>
				<Icon name="mdi:github" aria-hidden="true" width="40" height="40"/>
			</a>
			<a href="https://www.linkedin.com/in/trevorcorc/" target="_blank">
				<span class="sr-only">Go to Trevor's LinkedIn</span>
				<Icon name="mdi:linkedin" aria-hidden="true" width="40" height="40"/>
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: var(--surface);
		color: var(--on-primary);
	}

	.title {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	h2 {
		margin: 0;
		font-size: 1em;
		padding-left: 0.5em;
	}

	h2 a, h2 a.active {
		text-decoration: none;
	}

	nav {
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		align-items: center;
	}

	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}

	nav a:hover {
		color: var(--primary);
	}

	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--primary);
	}

	.social-links, .social-links a {
		display: flex;
		justify-content: flex-end;
	}

	.social-links a:hover {
		color: var(--primary);
	}

	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
		.title h2 {
			display: none;
		}
	}
</style>
